*~
~*
*.aln
*.aps
*.bsc
*.CDR
*.db
*.db-shm
*.db-wal
*.def
*.dep
*.dll
*.exe
*.exp
*.htm
*.idb
*.ilk
*.in
*.iobj
*.ipch
*.ipdb
*.lib
*.mak
*.manifest
*.obj
*.opt
*.pch
*.pdb
*.plg
*.res
*.sbr
*.scc
*.sdf
*.wbk
*.ncb
*.user
*.suo
*.tlog
*.log
*.opendb
*Log.XML
*UpgradeReport.css
*UpgradeReport.xslt
*UpgradeReport_Minus.gif
*UpgradeReport_Plus.gif
*PPfile.txt
*TVfile.txt
*TSfile.txt
*Universal.txt
BuildLog.txt

